/* Navbar + admin-bar fixes */
body.navbar-is-fixed-bottom {
  padding-bottom: 50px !important;
}

body.navbar-is-fixed-top {
  padding-top: 70px !important;
}

body.navbar-is-fixed-top-padding {
  padding-top: 70px !important;
}

body div#admin-bar {
  z-index: 1600;
}

body.navbar-admin-bar.navbar-is-fixed-top .navbar-fixed-top {
  padding-top: 33px;
}

/* Logo fixes to meet navbar requirements by size. */
.navbar-brand img {
  height: 40px;
  float: left;
  margin-top: -10px;
  padding-right: 10px;
}

ul li.collapsed,
ul li.expanded,
ul li.leaf {
  list-style: none;
  list-style-image: none;
}

/* Form style fixes. */
html.js fieldset.collapsed {
  height: auto;
}

fieldset legend.panel-heading {
  float: left;
  line-height: 1em;
  margin: 0;
}

fieldset .panel-body {
  clear: both;
}

fieldset .panel-heading a.panel-title {
  color: inherit;
  display: block;
  margin: -10px -15px;
  padding: 10px 15px;
}

fieldset .panel-heading a.panel-title:hover {
  text-decoration: none;
}

.input-group span.input-group-addon {
  min-width: 100px;
}

.contact-site-form span.input-group-addon {
  min-width: 150px;
}

.input-group textarea {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
}


.form-control.required::-webkit-input-placeholder {
  color: rgba(255, 0, 14, 0.68);
}

.form-control.required:-moz-placeholder {
  color: rgba(255, 0, 14, 0.68);
}

.form-control.required::-moz-placeholder {
  color: rgba(255, 0, 14, 0.68);
}

.form-control.required:-ms-input-placeholder {
  color: rgba(255, 0, 14, 0.68);
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid red;
}

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
  margin-left: 0px;
}

.form-actions .btn {
  margin-left: 2px;
  margin-right: 2px;
}

/* Table style fixes. */
th.checkbox,
td.checkbox,
th.radio,
td.radio {
  display: table-cell;
}

tr.even {
  background-color: transparent;
}

.sticky-header th {
  padding: 8px;
}

/* Vertical tab fixes. */
.vertical-tab-item {
  background-color: #f7f7f9;
}

.vertical-tab-link {
  color: black;
}

.vertical-tab-link span {
  color: #555;
}

.vertical-tab-link:focus strong,
.vertical-tab-link:active strong,
.vertical-tab-link:hover strong,
.vertical-tab-link:focus .fieldset-legend,
.vertical-tab-link:active .fieldset-legend,
.vertical-tab-link:hover .fieldset-legend {
  text-decoration: none;
  outline: none;
}

.vertical-tab-item:focus,
.vertical-tab-item:active,
.vertical-tab-item:hover,
.vertical-tab-item:focus,
.vertical-tab-item:active,
.vertical-tab-item:hover {
  background-color: white;
}

.vertical-tabs-pane .fieldset-wrapper {
  padding: 1em;
}

a.fieldset-title,
a.fieldset-title:focus,
a.fieldset-title:hover {
  text-decoration: none;
}

/* Fix drop button style in admin area. */
.dropbutton .dropbutton-action>* {
  padding: 6px 12px;
}

.dropbutton .dropbutton-action a,
.dropbutton .dropbutton-action a:hover {
  color: #337ab7;
  border: none;
}
.dropbutton .dropbutton-action a:hover
{
  text-decoration: underline;
}

.dropbutton .dropbutton-action a:hover {
  text-decoration: underline;
}

/* Fix Hanle for drag&drop. */
div.handle {
  box-sizing: content-box;
}

/* Fix tabs. */
div.tabs {
  padding-bottom: 10px;
}

ul.action-links i.fa {
  padding-right: 10px;
}

/* Fix icons for collapsibel fieldset. */
.js fieldset.collapsible .fieldset-title {
  background: none;
  padding-left: 0px;
}

.js fieldset.collapsible .fieldset-title:before {
  content: "\e252";
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-size: 13px;
  padding-right: 10px;
}

.js fieldset.collapsed .fieldset-title {
  background: none;
  padding-left: 0px;
}

.js fieldset.collapsed .fieldset-title:before {
  content: "\e250";
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-size: 13px;
  padding-right: 10px;
}

/* Fix VIEWS UI. */
.container-inline div {
  display: inline-block;
}

.views-display-setting .label {
  color: #666666;
  font-size: 12px;
}

#views-ui-preview-form>div>div,
#views-ui-preview-form>div>input {
  float: none;
}

.views-display-columns>* {
  margin: 0;
}

.views-display-columns>*:first-child {
  margin: 0px;
  padding-left: 15px;
}

.views-ui-display-tab-bucket {
  padding-top: 0px;
}

.views-ui-display-tab-bucket .dropbutton li>* {
  padding: 6px 12px;
}

.views-ui-display-tab-bucket+.views-ui-display-tab-bucket {
  border-top: 1px solid #ddd;
}

/* Fix page title padding. */
h1.page-title {
  padding-bottom: 15px;
}

/* Style user pic. */
.user-picture img {
  border: 1px solid #e5e7e8;
  padding: 1px;
}

/* Style nodes and coments in twitter style. */
.view-mode-teaser,
.comment {
  padding-bottom: 15px;
  padding-top: 15px;
  margin-top: 0px;
  border-bottom: 1px dashed #efefef;
}

/* Add spacing for pager. */
ul.pager {
  padding-top: 20px;
}

/* Fixing problem with width of container */
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.navbar-is-fixed .l-header {
  /*  margin-top: 10px;*/
}

/* Navbar too narrow out of box */
#navbar .container {
  padding: 10px 20px;
}

img {
  margin: 20px 0;
}

footer,
.block-system-main-menu {
  display: block;
  padding: 20px 0px;
}

/* Fixing core problem with drop down menu */
.js .menu-dropdown a,
.js .menu-dropdown a:hover,
.js .menu-dropdown a:focus,
.js .menu-dropdown a:active {
  padding-right: 24px;
}

/* Force password field to be full width */
span.password-toggle-wrapper {
  width: 100%;
}

/* Fixes a conflict between Bootstrap and the admin bar */

#admin-bar .dropdown li>a,
#admin-bar .dropdown li>span {
  margin-bottom: 0;
}

/* Overrides for specific Bootswatch themes */

/* cerulean */

body.cerulean .dropbutton .dropbutton-action a,
body.cerulean .dropbutton-toggle button {
  color: #2FA4E7;
  background-color: #ffffff;
  background-image: none;
}

body.cerulean .dropbutton .dropbutton-action a:hover {
  color: #0D8FDB;
  background-color: #f7f7f7;
}

body.cerulean .dropbutton .dropbutton-action>* {
  padding: 0.1em 0.5em;
}

/* cosmo */

body.cosmo .dropbutton .dropbutton-action a {
  color: #2780E3;
  background-color: #ffffff;
  background-image: none;
}

body.cosmo .dropbutton .dropbutton-action a:hover {
  color: #1864AB;
  background-color: #f7f7f7;
}

body.cosmo .dropbutton .dropbutton-action>* {
  padding: 0.1em 0.5em;
}

/* cyborg */

body.cyborg .dropbutton .dropbutton-action a,
body.cyborg .dropbutton-arrow,
body.cyborg .dropbutton .dropbutton-toggle button {
  color: #ffffff;
  background-color: #060606;
  background-image: none;
}

body.cyborg .dropbutton .dropbutton-action a:hover {
  background-color: #2a9fd6;
  text-decoration: none;
}

body.cyborg .dropbutton-arrow:hover,
body.cyborg .dropbutton .dropbutton-toggle button:hover {
  color: #ffffff;
  background-color: #222222;
  text-decoration: none;
}

body.cyborg .dropbutton .dropbutton-action>* {
  padding: 0.1em 0.5em;
}

body.cyborg .table a:not(.btn),
body.cyborg .table a:not(.btn) {
  color: #2a9fd6;
  text-decoration: none;
}

body.cyborg tr.odd {
  background-color: unset;
}

body.cyborg table>tbody>tr:nth-of-type(odd) {
  background-color: #080808;
}

body.cyborg table>tbody>tr:hover {
  background-color: #282828;
}

.js .cyborg .dropbutton-widget {
  background-color: #666;
  border: 1px solid #666;
}

body.cyborg .dropbutton-multiple .dropbutton {
  border-right: none;
}

body.cyborg .dropbutton .secondary-action {
  border-top: 1px solid #666;
}

/* darkly */

body.darkly .dropbutton .dropbutton-action a,
body.darkly .dropbutton-toggle button {
  color: #0ce3ac;
  background-color: #464545;
  background-image: none;
}

body.darkly .dropbutton .dropbutton-action a:hover,
body.darkly .dropbutton-toggle button:hover,
body.darkly .dropbutton-toggle button:focus {
  color: #0ce3ac;
  background-color: #2c2c2c;
}

body.darkly .dropbutton .dropbutton-action>* {
  padding: 0.1em 0.5em;
}

body.darkly .table a:not(.btn),
body.darkly .table a:not(.btn) {
  color: #0ce3ac;
  text-decoration: none;
}

body.darkly tr.odd {
  background-color: unset;
}

body.darkly tr.even,
body.darkly tr.odd {
  border-bottom: none;
}

body.darkly table>tbody>tr:nth-of-type(odd) {
  background-color: #3d3d3d;
}

body.darkly table>tbody>tr:hover {
  background-color: #464545;
}

.js .darkly .dropbutton-widget {
  background-color: #666;
  border: 1px solid #666;
}

body.darkly .dropbutton-multiple .dropbutton {
  border-right: none;
}

body.darkly .dropbutton .secondary-action {
  border-top: 1px solid #666;
}

/* flatly */

body.flatly .dropbutton .dropbutton-action a {
  color: #7b8a8b;
  background-color: #f7f7f7;
}

body.flatly .table a:not(.btn) {
  color: #18BC9C;
  text-decoration: none;
}

body.flatly .table a:not(.btn):hover {
  text-decoration: underline;
}

body.flatly .dropbutton .dropbutton-action a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #2c3e50;
}

body.flatly tr.even,
body.flatly tr.odd {
  background-color: #f9f9f9;
  border-bottom: 1px solid #efefef;
  padding: 0.1em 0.6em;
}

body.flatly tr.even {
  background-color: transparent;
}

body.flatly tr.even:hover,
body.flatly tr.odd:hover {
  background-color: #ecf0f1;
}

body.flatly .dropbutton .dropbutton-action>* {
  padding: 0.1em 0.5em;
}

/* journal */

body.journal .dropbutton .dropbutton-action a {
  color: #EB6864;
  background-color: #f7f7f7;
}

body.journal .table a:not(.btn) {
  color: #EB6864;
  text-decoration: none;
}

body.journal .table a:not(.btn):hover {
  text-decoration: underline;
}

body.journal .dropbutton .dropbutton-action a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #EB6864;
}

body.journal tr.even,
body.journal tr.odd {
  background-color: #f9f9f9;
  border-bottom: 1px solid #efefef;
  padding: 0.1em 0.6em;
}

body.journal tr.even {
  background-color: transparent;
}

body.journal tr.even:hover,
body.journal tr.odd:hover {
  background-color: #f5f5f5;
}

body.journal .dropbutton .dropbutton-action>* {
  padding: 0.1em 0.5em;
}

/* lumen */

body.lumen .dropbutton .dropbutton-action a {
  color: #999999;
  background-color: transparent;
}

body.lumen .dropbutton .dropbutton-action a:hover {
  color: #333;
  background-color: transparent;
  text-decoration: none;
}

body.lumen .table .btn {
  text-transform: unset;
}

body.lumen .table .btn:hover {
  margin-top: 0;
}

body.lumen .table a:not(.btn) {
  color: #158CBA;
  text-decoration: none;
}

body.lumen .table a:not(.btn):hover {
  text-decoration: underline;
}

body.lumen tr.even,
body.lumen tr.odd {
  background-color: #f9f9f9;
  border-bottom: 1px solid #efefef;
  padding: 0.1em 0.6em;
}

body.lumen tr.even {
  background-color: transparent;
}

body.lumen tr.even:hover,
body.lumen tr.odd:hover {
  background-color: #f5f5f5;
}

body.lumen .dropbutton .dropbutton-action>* {
  padding: 0.1em 0.5em;
}


/* paper */

body.paper .dropbutton .dropbutton-action a {
  color: #666666;
  background-color: transparent;
}

body.paper .table a:not(.btn) {
  color: #2196f3;
  text-decoration: none;
}

body.paper .table .btn {
  text-transform: unset;
  box-shadow: none;
  transition: none;
}

body.paper .dropbutton .dropbutton-action a:hover {
  color: #141414;
  text-decoration: none;
  background-color: #eeeeee;
  background-image: none;
}

body.paper tr.even,
body.paper tr.odd {
  background-color: #f9f9f9;
  border-bottom: 1px solid #efefef;
  padding: 0.1em 0.6em;
}

body.paper tr.even {
  background-color: transparent;
}

body.paper tr.even:hover,
body.paper tr.odd:hover {
  background-color: #f5f5f5;
}

body.paper .dropbutton .dropbutton-action>* {
  padding: 0.1em 0.5em;
}

/* readable */

body.readable .dropbutton .dropbutton-action a {
  color: #333333;
}

body.readable .table a:not(.btn) {
  color: #4582ec;
  text-decoration: none;
}

body.readable .dropbutton .dropbutton-action a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #4582ec;
  background-image: none;
}

body.readable tr.even,
body.readable tr.odd {
  background-color: #f9f9f9;
  border-bottom: 1px solid #efefef;
  padding: 0.1em 0.6em;
}

body.readable tr.even {
  background-color: transparent;
}

body.readable tr.even:hover,
body.readable tr.odd:hover {
  background-color: #f5f5f5;
}

body.readable .dropbutton .dropbutton-action>* {
  padding: 0.1em 0.5em;
}
/* sandstone */

body.sandstone {
  text-transform: none;
}

body.sandstone .dropbutton .dropbutton-action a {
  color: #98978b;
  background-color: transparent;
  background-image: none;
  text-transform: none;
}

body.sandstone .dropbutton .dropbutton-action a:hover {
  color: #98978b;
  background-color: #f8f5f0;
  text-decoration: none;
}

body.sandstone tr.even,
body.sandstone tr.odd {
  background-color: #f9f9f9;
  border-bottom: 1px solid #efefef;
  padding: 0.1em 0.6em;
}

body.sandstone tr.even {
  background-color: transparent;
}

body.sandstone tr.even:hover,
body.sandstone tr.odd:hover {
  background-color: #f5f5f5;
}

body.sandstone .dropbutton .dropbutton-action>* {
  padding: 0.1em 0.5em;
}

/* simplex */

body.simplex .dropbutton .dropbutton-action a {
  color: #444444;
  background-color: transparent;
  background-image: none;
}

body.simplex .dropbutton .dropbutton-action a:hover {
  color: #ffffff;
  text-decoration: none;
    background-color: #C71C08;
    background-image: none;
}

body.simplex tr.even,
body.simplex tr.odd {
  background-color: #f9f9f9;
  border-bottom: 1px solid #efefef;
  padding: 0.1em 0.6em;
}

body.simplex tr.even {
  background-color: transparent;
}

body.simplex tr.even:hover,
body.simplex tr.odd:hover {
  background-color: #f5f5f5;
}

body.simplex .dropbutton .dropbutton-action>* {
  padding: 0.1em 0.5em;
}

/* slate */

body.slate .dropbutton .dropbutton-action a,
body.slate .dropbutton-arrow,
body.slate .dropbutton .dropbutton-toggle button {
  color: #ffffff;
  background-color: #272b30;
  background-image: none;
}

body.slate .dropbutton .dropbutton-action a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #535353;
}

body.slate .dropbutton .dropbutton-action>* {
  padding: 0.1em 0.5em;
}

body.slate table>tbody>tr:nth-of-type(odd) {
  background-color: #353a41;
}

body.slate table>tbody>tr:hover {
  background-color: #49515a;
}

.js .slate .dropbutton-widget {
  background-color: #666;
  border: 1px solid #666;
}

body.slate .dropbutton-multiple .dropbutton {
  border-right: none;
}

body.slate .dropbutton .secondary-action {
  border-top: 1px solid #666;
}

/* spacelab */

body.spacelab .dropbutton .dropbutton-action a {
  color: #333333;
  background-color: transparent;
  background-image: none;
}

body.spacelab .dropbutton .dropbutton-action a:hover {
  color: #ffffff;
    text-decoration: none;
    background-color: #227FDD;
    background-image: none;
}

body.spacelab .table .btn {
  text-transform: unset;
  text-shadow: none;
  transition: none;
}

body.spacelab tr.even,
body.spacelab tr.odd {
  background-color: #f9f9f9;
  border-bottom: 1px solid #efefef;
  padding: 0.1em 0.6em;
}

body.spacelab tr.even {
  background-color: transparent;
}

body.spacelab tr.even:hover,
body.spacelab tr.odd:hover {
  background-color: #f5f5f5;
}

body.spacelab .dropbutton .dropbutton-action>* {
  padding: 0.1em 0.5em;
}

/* superhero */

body.superhero .dropbutton .dropbutton-action a,
body.superhero .dropbutton-arrow,
body.superhero .dropbutton .dropbutton-toggle button {
  color: #ffffff;
  background-color: #2b3e50;
}

body.superhero .dropbutton .dropbutton-action a:hover {
  background-color: #222222;
  text-decoration: none;
}

body.superhero .table a:not(.btn),
body.superhero .table a:not(.btn) {
  color: #DF691A;
  text-decoration: none;
}

body.superhero .dropbutton-arrow:hover,
body.superhero .dropbutton .dropbutton-toggle button:hover {
  color: #ffffff;
  background-color: #222222;
  text-decoration: none;
}

body.superhero .dropbutton .dropbutton-action>* {
  padding: 0.1em 0.5em;
}

body.superhero table,
body.superhero .table {
  font-size: inherit;
}

body.superhero tr.odd {
  background-color: unset;
}

body.superhero table>tbody>tr:nth-of-type(odd) {
  background-color: #4e5d6c;
}

body.superhero table>tbody>tr:hover {
  background-color: #485563;
}

.js .superhero .dropbutton-widget {
  background-color: #666;
  border: 1px solid #666;
}

body.superhero .dropbutton-multiple .dropbutton {
  border-right: none;
}

body.superhero .dropbutton .secondary-action {
  border-top: 1px solid #666;
}

/* united */

body.united .dropbutton .dropbutton-action a {
  color: #333333;
  background-color: transparent;
}

body.united .dropbutton .dropbutton-action a:hover {
  color: #ffffff;
  text-decoration: none;
    background-color: #D4420D;
    background-image: none;
}

body.united tr.even,
body.united tr.odd {
  background-color: #f9f9f9;
  border-bottom: 1px solid #efefef;
  padding: 0.1em 0.6em;
}

body.united tr.even {
  background-color: transparent;
}

body.united tr.even:hover,
body.united tr.odd:hover {
  background-color: #f5f5f5;
}

body.united .dropbutton .dropbutton-action>* {
  padding: 0.1em 0.5em;
}

/* yeti */

body.yeti .dropbutton .dropbutton-action a {
  color: #555555;
  background-color: #f7f7f7;
}

body.yeti .dropbutton .dropbutton-action a:hover {
  color: #ffffff;
    text-decoration: none;
    background-color: #008CBA;
    background-image: none;
}

body.yeti table,
body.yeti .table {
  font-size: inherit;
}

body.yeti tr.even,
body.yeti tr.odd {
  background-color: #f9f9f9;
  border-bottom: 1px solid #efefef;
  padding: 0.1em 0.6em;
}

body.yeti tr.even {
  background-color: transparent;
}

body.yeti tr.even:hover,
body.yeti tr.odd:hover {
  background-color: #f5f5f5;
}

body.yeti .dropbutton .dropbutton-action>* {
  padding: 0.1em 0.5em;
}
