/* Navbar + admin-bar fixes */
body.navbar-is-fixed-bottom{
  padding-bottom:50px!important;
}

body.navbar-is-fixed-top {
  padding-top:70px!important;
}

body.navbar-is-fixed-top-padding{
  padding-top:70px!important;
}

body div#admin-bar{
  z-index:1600;
}

body.navbar-admin-bar.navbar-is-fixed-top .navbar-fixed-top  {
  padding-top: 33px;
}

/* Logo fixes to meet navbar requirements by size. */
.navbar-brand img{
  height: 40px;
  float: left;
  margin-top: -10px;
  padding-right: 10px;
}

ul li.collapsed,ul li.expanded,ul li.leaf{
  list-style:none;list-style-image:none;
}

/* Form style fixes. */
html.js fieldset.collapsed{
  height:auto;
}

fieldset legend.panel-heading{
  float:left;line-height:1em;margin:0;
}

fieldset .panel-body{
  clear:both;
}

fieldset .panel-heading a.panel-title{
  color:inherit;display:block;margin:-10px -15px;padding:10px 15px;
}

fieldset .panel-heading a.panel-title:hover{
  text-decoration:none;
}

.input-group span.input-group-addon {
  min-width: 100px;
}

.contact-site-form span.input-group-addon {
  min-width: 150px;
}

.input-group textarea {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
}


.form-control.required::-webkit-input-placeholder { color: rgba(255, 0, 14, 0.68); }
.form-control.required:-moz-placeholder { color: rgba(255, 0, 14, 0.68); }
.form-control.required::-moz-placeholder { color: rgba(255, 0, 14, 0.68); }
.form-control.required:-ms-input-placeholder { color: rgba(255, 0, 14, 0.68); }

.form-item input.error, .form-item textarea.error, .form-item select.error {
  border: 1px solid red;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
  margin-left: 0px;
}

.form-actions .btn {
  margin-left: 2px;
  margin-right: 2px;
}

/* Table style fixes. */
th.checkbox,td.checkbox,th.radio,td.radio{
  display:table-cell;
}

tr.even {
  background-color: transparent;
}

.sticky-header th {
  padding: 8px;
}

/* Vertical tab fixes. */
.vertical-tab-item {
  background-color: #f7f7f9;
}

.vertical-tab-link {
  color: black;
}
.vertical-tab-link span {
  color: #555;
}

.vertical-tab-link:focus strong,
.vertical-tab-link:active strong,
.vertical-tab-link:hover strong,
.vertical-tab-link:focus .fieldset-legend,
.vertical-tab-link:active .fieldset-legend,
.vertical-tab-link:hover .fieldset-legend {
  text-decoration: none;
  outline: none;
}
.vertical-tab-item:focus,
.vertical-tab-item:active,
.vertical-tab-item:hover,
.vertical-tab-item:focus,
.vertical-tab-item:active,
.vertical-tab-item:hover{
  background-color: white;
}

.vertical-tabs-pane .fieldset-wrapper {
  padding: 1em;
}

a.fieldset-title,
a.fieldset-title:focus,
a.fieldset-title:hover {
  text-decoration: none;
}

/* Fix drop button style in admin area. */
.dropbutton .dropbutton-action > * {
  padding: 6px 12px;
}

.dropbutton .dropbutton-action a,
.dropbutton .dropbutton-action a:hover
{
  color: #337ab7;
  border: none;
}
.dropbutton .dropbutton-action a:hover
{
  text-decoration: underline;
}

/* Fix Hanle for drag&drop. */
div.handle {
  box-sizing: content-box;
}

/* Fix tabs. */
div.tabs {
  padding-bottom: 10px;
}

ul.action-links i.fa {
  padding-right: 10px;
}

/* Fix icons for collapsibel fieldset. */
.js fieldset.collapsible .fieldset-title {
  background: none;
  padding-left: 0px;
}

.js fieldset.collapsible .fieldset-title:before {
  content: "\e252";
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-size: 13px;
  padding-right: 10px;
}

.js fieldset.collapsed .fieldset-title {
  background: none;
  padding-left: 0px;
}

.js fieldset.collapsed .fieldset-title:before {
  content: "\e250";
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-size: 13px;
  padding-right: 10px;
}

/* Fix VIEWS UI. */
.container-inline div {
  display: inline-block;
}

.views-display-setting .label {
  color: #666666;
  font-size: 12px;
}

#views-ui-preview-form > div > div,
#views-ui-preview-form > div > input {
  float: none;
}

.views-display-columns > * {
  margin: 0;
}
.views-display-columns > *:first-child {
  margin: 0px;
  padding-left:15px;
}

.views-ui-display-tab-bucket {
  padding-top: 0px;
}

.views-ui-display-tab-bucket .dropbutton li > * {
  padding: 6px 12px;
}

.views-ui-display-tab-bucket + .views-ui-display-tab-bucket {
  border-top: 1px solid #ddd;
}

/* Fix page title padding. */
h1.page-title {
  padding-bottom: 15px;
}

/* Style user pic. */
.user-picture img {
  border: 1px solid #e5e7e8;
  padding: 1px;
}

/* Style nodes and coments in twitter style. */
.view-mode-teaser,
.comment {
  padding-bottom: 15px;
  padding-top: 15px;
  margin-top: 0px;
  border-bottom: 1px dashed #efefef;
}

/* Add spacing for pager. */
ul.pager {
  padding-top: 20px;
}

/* Fixing problem with width of container */
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

.navbar-is-fixed .l-header {
/*  margin-top: 10px;*/
}

/* Navbar too narrow out of box */
#navbar .container {
  padding: 10px 20px;
}

img {
  margin: 20px 0;
}

footer, .block-system-main-menu {
  display: block;
  padding: 20px 0px;
}

/* Fixing core problem with drop down menu */
.js .menu-dropdown a,
.js .menu-dropdown a:hover,
.js .menu-dropdown a:focus,
.js .menu-dropdown a:active {
  padding-right: 24px;
}

/* Force password field to be full width */
span.password-toggle-wrapper {
  width: 100%;
}

/* Fixes a conflict between Bootstrap and the admin bar */

#admin-bar .dropdown li > a,
#admin-bar .dropdown li > span {
  margin-bottom: 0;
}

/* Overrides for specific Bootswatch themes */

/* cerulean */

body.cerulean .dropbutton .dropbutton-action a,
body.cerulean .dropbutton-toggle button {
  color: #2FA4E7;
  background-color: #ffffff;
  background-image: none;
}

body.cerulean .dropbutton .dropbutton-action a:hover {
  color: #0D8FDB;
  background-color: #f7f7f7;
}

body.cerulean .dropbutton .dropbutton-action>* {
  padding: 0.1em 0.5em;
}

/* cosmo */

body.cosmo .dropbutton .dropbutton-action a {
  color: #2780E3;
  background-color: #ffffff;
  background-image: none;
}

body.cosmo .dropbutton .dropbutton-action a:hover {
  color: #1864AB;
  background-color: #f7f7f7;
}

body.cosmo .dropbutton .dropbutton-action>* {
  padding: 0.1em 0.5em;
}

/* cyborg */

body.cyborg .dropbutton .dropbutton-action a {
  color: #2A9FD6;
  background-color: #ffffff;
  background-image: none;
}

body.cyborg .dropbutton .dropbutton-action a:hover,
body.cyborg .dropbutton-arrow {
  color: #1E7CAB;
  background-color: #f7f7f7;
}

body.cyborg .dropbutton .dropbutton-action>* {
  padding: 0.1em 0.5em;
}

body.cyborg .table a:not(.btn),
body.cyborg .table a:not(.btn) {
  color: #2a9fd6;
  text-decoration: none;
}

body.cyborg tr.odd {
  background-color: unset;
}

body.cyborg .table>tbody>tr:nth-of-type(odd) {
  background-color: #080808;
}

body.cyborg table>tbody>tr:hover {
  background-color: #282828;
}

/* darkly */

body.darkly .dropbutton .dropbutton-action a,
body.darkly .dropbutton-toggle button{
  color: #0ce3ac;
  background-color: #464545;
    background-image: none;
}

body.darkly .dropbutton .dropbutton-action a:hover,
body.darkly .dropbutton-toggle button:hover,
body.darkly .dropbutton-toggle button:focus {
  color: #0ce3ac;
  background-color: #2c2c2c;
}

body.darkly .dropbutton .dropbutton-action>* {
  padding: 0.1em 0.5em;
}

body.darkly .table a:not(.btn),
body.darkly .table a:not(.btn) {
  color: #0ce3ac;
  text-decoration: none;
}

body.darkly tr.odd {
  background-color: unset;
}

body.darkly tr.even,
body.darkly tr.odd {
  border-bottom: none;
}

body.darkly .table>tbody>tr:nth-of-type(odd) {
  background-color: #3d3d3d;
}

body.darkly table>tbody>tr:hover {
  background-color: #464545;
}

/* flatly */

body.flatly .dropbutton .dropbutton-action a {
  color: #18BC9C;
  background-color: #f7f7f7;
}

body.flatly .dropbutton .dropbutton-action a:hover {
  color: #148F77;
}

/* journal */

body.journal .dropbutton .dropbutton-action a {
  color: #EB6864;
  background-color: #f7f7f7;
}

body.journal .dropbutton .dropbutton-action a:hover {
  color: #DA4F4B;
}

/* lumen */

body.lumen .dropbutton .dropbutton-action a {
  color: #158CBA;
  background-color: #f7f7f7;
}

body.lumen .dropbutton .dropbutton-action a:hover {
  color: #1175A0;
}

/* paper */

body.paper .dropbutton .dropbutton-action a {
  color: #2196F3;
  background-color: #f7f7f7;
}

body.paper .dropbutton .dropbutton-action a:hover {
  color: #2196f3;
}

/* readable */

body.readable .dropbutton .dropbutton-action a {
  color: #4582ec;
}

body.readable .dropbutton .dropbutton-action a:hover,
body.readable .dropbutton-widget {
  color: #4582ec;
  background-color: #f7f7f7;
}

/* sandstone */

body.sandstone .dropbutton .dropbutton-action a {
  color: #93c54b;
  background-color: #f7f7f7;
}

body.sandstone .dropbutton .dropbutton-action a:hover {
  color: #93c54b;
}

body.sandstone .dropbutton .dropbutton-action>* {
  padding: 0.1em 0.5em;
}

/* simplex */

body.simplex .dropbutton .dropbutton-action a {
  color: #D9230F;
  background-color: #f7f7f7;
  background-image: none;
}

body.simplex .dropbutton .dropbutton-action a:hover {
  color: #C71C08;
}

/* slate */

body.slate .dropbutton .dropbutton-action a {
  color: #ffffff;
}

body.slate .dropbutton .dropbutton-action a:hover {
  color: #ffffff;
}

/* spacelab */

body.spacelab .dropbutton .dropbutton-action a {
  color: #3399F3;
  background-color: #f7f7f7;
  background-image: none;
}

body.spacelab .dropbutton .dropbutton-action a:hover {
  color: #227FDD;
}

/* superhero */

body.superhero .dropbutton .dropbutton-action a,
body.superhero .dropbutton-arrow {
  color: #DF691A;
  background-color: #f7f7f7;
}

body.superhero .table a:not(.btn),
body.superhero .table a:not(.btn) {
  color: #DF691A;
  text-decoration: none;
}

body.superhero .dropbutton .dropbutton-action a:hover,
body.superhero .table a:not(.btn):hover,
body.superhero .table a:not(.btn):hover {
  color: #CF5C0A;
  text-decoration: underline;
}

body.superhero .dropbutton .dropbutton-action>* {
  padding: 0.1em 0.5em;
}

body.superhero table,
body.superhero .table {
  font-size: inherit;
}

/* united */

body.united .dropbutton .dropbutton-action a {
  color: #E95420;
  background-color: #f7f7f7;
}

body.united .dropbutton .dropbutton-action a:hover {
  color: #D4420D;
}

/* yeti */

body.yeti .dropbutton .dropbutton-action a {
  color: #008CBA;
  background-color: #f7f7f7;
}

body.yeti .dropbutton .dropbutton-action a:hover {
  color: #0079A1;
}

body.yeti table,
body.yeti .table {
  font-size: inherit;
}
